.c-left-right-block {
  $c: &;

  display: grid;
  grid-template-columns: var(--twelve-column-grid);

  .c-component-heading {
    margin-bottom: 0.5rem;
  }

  &__content {
    padding: 3rem 0;
    grid-column: 2 / -2;
  }

  &__content-text {
    margin-bottom: 1.5rem;
    max-width: 32.0625rem;
    text-wrap: pretty;
  }

  &__content-wrapper {
    border-left: 0.0625rem solid var(--main-text-color);
    padding-left: 1.5rem;
  }

  & .c-social-icons {
    justify-content: flex-start;
  }

  &__icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.18rem;
    margin-bottom: 1.5rem;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__media {
    aspect-ratio: 1 / 1;
    grid-column: 1 / -1;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  & .c-image,
  .c-image--live-editing,
  picture {
    height: 100%;
    object-fit: cover;
  }

  // Desktop styles
  @media screen and (min-width: 1279px) {
    &__content {
      grid-column: 9 / -2;
      align-self: center;
      padding: 6rem 0;
    }

    &__media  {
      grid-column: 1 / 8;
      grid-row: 1;
    }

    &--right {
      #{$c}__content {
        grid-column: 2 / 7;
      }

      #{$c}__media {
        grid-column: 8 / -1;
        
      }
    }
  }
}
