{% assign c = "c-featured-map" %}

<div class="{{c}} 
            component 
            {% if styles.background_variant == "Dark" %} 
                component--dark
            {% endif %}">
  <h1>{{ heading }}</h1>
</div>