.c-hero--simple {
    display: grid;
    grid-template-columns: var(--twelve-column-grid);
    row-gap: var(--gap-extra-large);

    &--content-align-center {
        place-items: center;
        text-align: center;
    }

    .c-heading, .c-text-block {
        grid-column: 2 / -2;
    }
}