.c-form {
    color: var(--main-text-color);
    display: grid;
    grid-template-columns: var(--twelve-column-grid);
    row-gap: var(--gap-extra-large);
    align-items: flex-start;
    text-align: left;

    &__heading, &__form {
        grid-column: 2 / -2;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        gap: var(--gap-large);
    }

    &--content-align-center {
        place-items: center;
        text-align: center;
    }

    @media screen and (min-width: 1279px) {
        &__heading {
            grid-column: 4 / -4;
        }

        &__form {
            grid-column: 5 / -5;
        }
    }
}