{% assign_local c = "c-featured-icons" %}

{% capture heading %}
  eyebrow_headline: {{ content.headline }}
  primary_heading: {{ content.heading }}
{% endcapture %}
{% assign_local heading = heading | ymlify %}


<section class="{{ c }}">
  {% bookshop "generic/left-right-block" heading:heading icons:content.icons buttons:content.buttons image:styles.image orientation:styles.orientation background_variant:styles.background_variant %}
</section>