{% assign_local c = "c-testimonial" %}

{% capture heading_raw %}
  eyebrow_headline: {{ content.eyebrow_headline }}
  primary_heading: "&quot;{{ content.quote }}&quot;"
{% endcapture %}
{% assign_local heading = heading_raw | ymlify %}


<div class="{{ c }}">
  {% bookshop "generic/left-right-block" %}
</div>