{% assign_local c = "c-testimonial" %}

{% capture heading %}
  eyebrow_headline: {{ content.eyebrow_headline }}
  primary_heading: "&ldquo;{{ content.quote }}&rdquo;"
{% endcapture %}
{% assign_local heading = heading | ymlify %}


<div class="{{ c }}">
  {% bookshop "generic/left-right-block" heading:heading buttons:content.buttons author_name:content.author_name image:styles.image%}
</div>