.c-left-right-block--featured-map {
    $c: &;
    
    .c-left-right-block__icons {
        flex-direction: column;
        gap: 1rem;
    }
    .c-labelled-icon--inline {
        align-self: unset;
    }
}