{% assign_local c = "c-left-right-block--featured-map" %}

<section class="{{ c }}">
  {% bookshop "generic/left-right-block" description:content.description buttons:content.buttons map:content.map image_alignment:styles.map_alignment background_variant:styles.background_variant %}
</section>