:root {
--primary_theme0__background : #000000;
--primary_theme0__foreground : #ffffff;
--adon_s_theme1__background : #d94fe9;
--adon_s_theme1__foreground : #5ad819;
--nice_theme2__background : #001947;
--nice_theme2__foreground : #c8ffff;
}
.component {
&--primary_theme0 {
background-color: var(--primary_theme0__background);
color: var(--primary_theme0__foreground);
}
&--adon_s_theme1 {
background-color: var(--adon_s_theme1__background);
color: var(--adon_s_theme1__foreground);
}
&--nice_theme2 {
background-color: var(--nice_theme2__background);
color: var(--nice_theme2__foreground);
}
}
