<div class="c-gallery">
    {% if env_bookshop_live %}
        {% bookshop "generic/notification" heading:"Embed Display" text:"All tiles will show up while editing but on the live site it will display 3-6 initially <br> with a load more button to load more tiles." %}
        <div class="c-gallery__tiles">
            {% for image in images %}
                <div class="c-gallery__tiles__tile">{% bookshop "generic/image" bind:image %}</div>
            {% endfor %}
        </div>
    {% else %}
        <div class="c-gallery__tiles">
            {% for image in images %}
                <div class="c-gallery__tiles__tile c-gallery__tiles__tile--hidden">{% bookshop "generic/image" bind:image %}</div>
            {% endfor %}
        </div>

        <div class="c-gallery__button">{% bookshop "generic/button" text:"Load More" variant:"primary" arrow:"down" %}</div>
    {% endif %}
</div>