{%  assign c = 'c-image-card' %}
<div class={{c}}>
    {% if svg_icon %}
    {% bookshop "generic/icon" bind:icon %}
    {% else %}
        {% comment %} TODO: put image component here {% endcomment %}
    {% endif %}
    
    {% bookshop "generic/component-heading" primary_heading=primary_heading eyebrow_headline=eyebrow_headline %}

    <div class="{{c}}--content">{{ details }}</div>
    <div class="{{c}}__buttons">
        {% bookshop "generic/button" text:link_label variant:"primary" disabled:false arrow:"right" url:link_url %}
    </div>
</div>
