.c-card {
  display: flex;
  flex-direction: column;    
  color: var(--main-text-color);
  background-color: var(--alt-background-color);
  gap:1.5rem;    
  text-align: left;

  &--icon{
    gap:1rem;
  }

  &--icon &__imagery{
    padding:1.5rem 1.5rem 0;
  }

  &--image &__imagery {
    max-height: 210px;

    .c-image,
    .c-image--live-editing,
    picture {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__content-wrapper{
    display: flex;
    flex-direction: column;  
    gap: 1rem;
    padding:1.5rem;
  }

  &--image &__content-wrapper, &--icon &__content-wrapper{
    padding:0 1.5rem 1.5rem;
  }

  &__content {
      font-size: var(--paragraph);
      font-weight: var(--font-weight-body);
      line-height: var(--line-height);
  }
}