.c-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
  color: var(--brand-grey-000);
  background: var(--brand-grey-800, #3b3b3d);
  font-size: var(--paragraph);
  font-weight: var(--font-weight-body);
  font-family: var(--font-family);
  line-height: var(--line-height);

  &__icon-wrapper {
    .c-icon {
      width: 2.3rem;
      height: 2.3rem;
    }
  }

  &__image-wrapper {
    .c-image {
    }
  }

  .c-component-heading {
    margin: 1rem 0;

    &__primary_heading {
      font-size: var(--small-heading);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: var(--letter-spacing);
    }

    &__eyebrow_heading {
      font-size: var(--eyebrow-heading);
      font-style: normal;
      font-weight: 700;
      line-height: 1.5rem;
      letter-spacing: var(--letter-spacing-wide);
      text-transform: uppercase;
    }
  }
}
