.c-button-temp {
  all: unset;
  padding: 1rem 0.75rem;
  color: var(--main-text-color, #F9F9FB);
  background: var(--main-background-color, #3B3B3D);
  font-size: var(--button);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
  display: inline-flex;
  gap: var(--gap-small);
  align-items: center;

  &:focus {
    outline: 2px solid var(--interaction-color, #2566f2);
    outline-offset: -2px;
  }

  &:hover {
    cursor: pointer;
  }

  &--primary {
    border: 2px solid var(--main-text-color, #F9F9FB);
    &:hover {
      color: var(--main-background-color, #3B3B3D);
      border: 2px solid var(--main-background-color, #3B3B3D);
      background: var(--main-text-color, #F9F9FB);
      
      .c-hero-library-icon__image, .c-hero-library-icon__svg {
        --c-hero-library-icon-color: var(--main-background-color, #3B3B3D);
      }
    }
  }

  &--secondary {
    &:hover {
      text-decoration: underline;
    }
  }

  .c-hero-library-icon__image, .c-hero-library-icon__svg {
      --c-hero-library-icon-color: var(--main-text-color, #F9F9FB);
  }
}
